{%extends 'base.html'%}
{% block contents%}

{%if user.is_authenticated%}
<!--한페이지 글-->
{%for blog in posts%}
<div class='container'>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{blog.title}}</h5>
                    <p class="card-text">{{blog.pub_date}}</p>
                    <p class="card-text">{{blog.summary}}</p>
                    <a href="{%url 'detail' blog.id%}" class="btn btn-primary">more</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{%endfor%}

<div class="container">
    {%if posts.has_previous%}
    <!--First Previous-->
    <a href="?page=1">First</a>
    <a href="?page={{post.previous_page_number}}">Previous</a>
    {%endif%}

    <!--현재 페이지-->
    <span>{{posts.number}}</span>
    <span>of</span>
    <span>{{posts.paginator.num_pages}}</span>

    <!--Next Last-->
    {%if posts.has_next%}
    <a href="?page={{posts.next_page_number}}">Next</a>
    <a href="?page={{posts.paginator.num_pages}}">Last</a>
    {%endif%}
</div>
{%else%}
<div class="container">
    <a class="nav-link" href="{%url 'signup'%}">Sign up</a>
    <a class="nav-link" href="{%url 'login'%}">Login</a>
</div>
{%endif%}
{%endblock%}